.codeform {
  font-family: Consolas, Lucida Console, monospace;
  resize: none;
}

.marketing {
  margin-top: 80px;
  margin-bottom: 80px;
}

h1.navbar-brand a {
  background-image: url(https://www.filepicker.io/api/file/bWLRlxiGT4WZQOT5nRoY)
}

.theme-line h1.navbar-brand {
  width: 47px;
}
.theme-line header {  border-bottom-color: #017d67;}
.theme-line header a.btn {  background-color: #017d67;}
.theme-line header a.btn:hover {  background-color: #001814;}
.theme-line header .navbar-nav a:hover , header .navbar-nav .open > a {  color: #017d67;}
.theme-line header .navbar-nav .tt-cursor {  background-color: #017d67;}
.theme-line .navbar-nav .active a {  font-weight: bold;  color: #017d67;}
.theme-line .navbar-nav .active a:hover {  color: #001814;}
.theme-line .main-links .links a:hover {  color: #017d67;}
.theme-line .main-content a {  color: #017d67;}
.theme-line .main-content a:hover {  color: #001814;}
.theme-line .sidebar-nav ul li a.active:before {  background-color: #017d67;}
.theme-line .sidebar-nav ul li a.active {  color: #017d67;}
.theme-line .sidebar-nav ul li a:hover,.theme-line .sidebar-nav ul li a.active:hover {  color: #001814;}
.theme-line .btn-primary {  background-color: #017d67;}
.theme-line .btn-primary:hover {  background-color: #001814;}
.theme-line .main-content .nav-horizontal a.active {  border-color: #017d67;  color: #017d67;}
.theme-line .main-content .nav-horizontal a:hover {  color: #001814;}
.theme-line .main-content .nav-horizontal a.active:hover {  border-color: #001814;}
.theme-line header .navbar-nav a.active ,.theme-line #versions-list li a:hover strong,.theme-line #versions-list li a.active .current,.theme-line #versions-list li a:active .current {  color: #017d67;}
.theme-line.body-threes .section-right .threes-nav .btn-default:hover,.theme-line.page-docs.body-threes .section-right .threes-nav .pull-right a:hover {  color: #017d67;  border-color: #017d67;}
.theme-solid header {  background-color: #017d67;}
.theme-solid.header-custom header a.btn {  background-color: #001814;}
.theme-solid.header-custom header a.btn:hover {  background-color: #000000;}
.theme-solid header .navbar-nav .dropdown-menu a:hover {  color: #017d67;}
.theme-line.lumosity-light header .navbar-nav a:hover,.theme-line.lumosity-light header .navbar-nav .open > a {  color: #017d67;}
.theme-line.lumosity-light header a.btn {  background-color: #017d67;}
.theme-line.lumosity-light header a.btn:hover {  background-color: #001814;}
.theme-solid .main-links .links a:hover {  color: #017d67;}
.theme-solid .main-content a {  color: #017d67;}
.theme-solid .main-content a:hover {  color: #001814;}
.theme-solid .sidebar-nav ul li a.active:before {  background-color: #017d67;}
.theme-solid .sidebar-nav ul li a.active {  color: #017d67;}
.theme-solid .sidebar-nav ul li a:hover,.theme-solid .sidebar-nav ul li a.active:hover {  color: #001814;}
.theme-solid .btn-primary {  background-color: #017d67;}
.theme-solid .btn-primary:hover {  background-color: #001814;}
.theme-solid .main-content .nav-horizontal a.active {  border-color: #017d67;  color: #017d67;}
.theme-solid .main-content .nav-horizontal a:hover {  color: #001814;}
.theme-solid .main-content .nav-horizontal a.active:hover {  border-color: #001814;}
.theme-solid header .navbar-nav a.active ,.theme-solid #versions-list li a:hover strong,.theme-solid #versions-list li a.active .current,.theme-solid #versions-list li a:active .current {  color: #017d67;}
.theme-solid.body-threes .section-right .threes-nav .btn-default:hover,.theme-solid.page-docs.body-threes .section-right .threes-nav .pull-right a:hover {  color: #017d67;  border-color: #017d67;}
.theme-solid.header-gradient header {  background: -moz-linear-gradient(top, #017d67, #003128);  background: -webkit-gradient(linear, left top, #017d67, #003128);  background: -webkit-linear-gradient(top, #017d67, #003128);  background: linear-gradient(to bottom, #017d67, #003128);}
.theme-solid.header-custom .header {  background-image: url(undefined);  background-position: center center;}
body {  font-weight: 400;font-family: Open Sans, sans-serif;}
h1, h2, h3, h4, h5, h6 {  font-weight: 400;font-family: Open Sans, sans-serif;}
.submit-vote.submit-vote-parent.voted a.submit-vote-button,.submit-vote.submit-vote-parent a.submit-vote-button:hover {  background-color: #017d67;}
div.submit-vote.submit-vote-parent.voted a.submit-vote-button:hover {  background-color: #001814;}
a,.link .title {  color: #017d67;}
a:hover,.link:hover .title {  color: #001814;}


h1.navbar-brand {  width: 47px; }

.fill {
  min-height: 100%;
  height: 100%;
}

.almostfill {
  margin-bottom: 30px;
  height: 100%;
}
