@(app: Application, apps: List[Application], capacityForm: DynamicForm, objectivesForm: DynamicForm, objectiveFunctionForm: DynamicForm)

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pathfinder</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <link href="/css/bundle.css" rel="stylesheet" type="text/css">
    <link href="/css/thepathfinder.css" rel="stylesheet" type="text/css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="555706514291-olo3lfltaf92plod7sbefpnn9ci3ks2b.apps.googleusercontent.com">
    <script type="text/javascript">
        function signOut() {
            gapi.auth2.getAuthInstance().signOut();
            window.location.href = "/logout";
        }
    </script>
</head>

<body class="theme-line body-box">
    <div id="wrapper">
        <header id="header" class="header">
            <div class="container">
                <h1 class="navbar-brand">
                    <a href="/"></a>
                </h1>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://pathfinder.readme.io/docs" title="Documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/blog" title="Blog">Blog</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/discuss" title="Support">Support</a>
                        </li>
                        <li>
                            <a href="https://github.com/csse497" title="GitHub">GitHub</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="/dashboard" title="Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" onclick='signOut();' title="Sign Out">Sign Out</a>
                        </li>
                        <li>
                            <div class="g-signin2" style="display:none;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container body-container">
            <div class="main-content">
            <div class="row docs-content">
                <div class="col-lg-12 docs-header">
                    <h1 class="page-header">@app.name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Capacity Parameters
                        </div>
                        <div class="panel-body">
                            @helper.form(routes.ApplicationController.setCapacities(), 'id -> "capacitiesform") {
                                <div class="form-group">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="parameters[]" value="@app.capacityParameters.headOption.map(_.parameter)">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                @app.capacityParameters.drop(1).map { param =>
                                    <div class="form-group">
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" name="parameters[]" value="@param.parameter">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                }
                                <div class="form-group hide" id="capacityTemplate">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="parameters[]">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        <button type="submit" class="btn btn-default">Save Parameters</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Objective Parameters
                        </div>
                        <div class="panel-body">
                            @helper.form(routes.ApplicationController.setObjectives(), 'id -> "objectivesform") {
                                <div class="form-group">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="parameters[]" value="@app.objectiveParameters.headOption.map(_.parameter)">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                @app.objectiveParameters.drop(1).map { param =>
                                    <div class="form-group">
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" name="parameters[]" value="@param.parameter">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                }
                                <div class="form-group hide" id="objectivesTemplate">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="parameters[]">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        <button type="submit" class="btn btn-default">Save Parameters</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Objective Function
                        </div>
                        <div class="panel-body">
                            @helper.form(routes.ApplicationController.setObjectiveFunction) {
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="MIN_DIST" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST)) "checked"}>Minimize Distance
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="MIN_TIME" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "checked"}>Minimize Time
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="CUSTOM" @{if (!app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST) && !app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "checked"}>Custom
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Save Objective Function</button>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <textarea id="objectivefunctioncode" name="dsl" class="form-control codeform" rows="12" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST) || app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "disabled"}>@app.objectiveFunction.dsl</textarea>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Clusters
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-3">
                                <div id="clustertree"></div>
                                <input id="subclusterinput" type="text" class="form-control">
                                <button id="createsubcluster" type="submit" class="btn btn-default" style="width: 100%;">Add subcluster to selected</button>
                                <button id="forcerefresh" type="submit" class="btn btn-default" style="width: 100%;">Request recalculation</button>
                            </div>
                            <div class="col-sm-9">
                                <label id="maplabel">Cluster:</label>
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Authentication</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                @helper.form(routes.ApplicationController.setAuthProvider(), 'id -> "authproviderform") {
                                    <h3>Select your authentication provider</h3>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="authradio" value="PATHFINDER_AUTH" onclick="changeProvider()" @{if (app.auth_url.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "checked"}>Pathfinder hosted auth
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="authradio" id="custom_auth_url_radio" onclick="changeProvider()" value="CUSTOM_AUTH" @{if (!app.auth_url.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "checked"}>Custom authentication
                                            <input type="text" name="custom_auth_url" class="form-control" id="custom_auth_url" placeholder="https://your-url.com/auth" @{if (app.auth_url.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "disabled"} @{if (!app.auth_url.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "value=" + app.auth_url}>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Save authentication settings</button>
                                }
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-group">
                                    <li class="list-group-item disabled">Pathfinder hosted auth whitelist</li>
                                    <li class="list-group-item">adam@@ajmichael.net</li>
                                    <li class="list-group-item">mike@@firebase.com</li>
                                </ul>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" class="form-control" placeholder="foo@@bar.com">
                                    </div>
                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="/bower_components/pathfinder.js/pathfinder.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>

    <script>
        var pf = new Pathfinder("@app.id");

        $(document).ready(function() {
            $("#capacitiesform").on('click', '.addButton', function() {
                var template = $('#capacityTemplate');
                var clone = template.clone().removeClass('hide').removeAttr('id').insertBefore(template);
            }).on('click', '.removeButton', function() {
                $(this).parents('.form-group').remove();
            });
            $("#objectivesform").on('click', '.addButton', function() {
                var template = $('#objectivesTemplate');
                var clone = template.clone().removeClass('hide').removeAttr('id').insertBefore(template);
            }).on('click', '.removeButton', function() {
                $(this).parents('.form-group').remove();
            });
            custom = "@app.objectiveFunction.dsl.split('\n').mkString("\\n")";
            $("input[name=functionsradios]").change(function() {
                $("#objectivefunctioncode").prop("disabled", true);
                if (this.value == "CUSTOM") {
                    $("#objectivefunctioncode").prop("disabled", false);
                    $("#objectivefunctioncode").val(custom);
                } else if (this.value == "@ObjectiveFunction.MIN_DIST") {
                    $("#objectivefunctioncode").val("@ObjectiveFunction.find.byId(ObjectiveFunction.MIN_DIST).dsl.split('\n').mkString("\\n")");
                } else if (this.value == "@ObjectiveFunction.MIN_TIME") {
                    $("#objectivefunctioncode").val("@ObjectiveFunction.find.byId(ObjectiveFunction.MIN_TIME).dsl.split('\n').mkString("\\n")");
                }
            });
            $("#objectivefunctioncode").on('input', function(e) {
                custom = e.target.value;
            });
        });
    </script>

    <script src="/js/application.js"></script>

</body>

</html>
