@(app: Application, whitelist: List[String], id_token: String, capacityForm: DynamicForm, objectivesForm: DynamicForm, objectiveFunctionForm: DynamicForm)

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pathfinder</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../components/morrisjs/morris.css" rel="stylesheet">
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <link href="/css/bundle.css" rel="stylesheet" type="text/css">
    <link href="/css/thepathfinder.css" rel="stylesheet" type="text/css">
    <link href="/css/ribbon.css" rel="stylesheet" type="text/css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="555706514291-olo3lfltaf92plod7sbefpnn9ci3ks2b.apps.googleusercontent.com">
    <script type="text/javascript">
        function signOut() {
            gapi.auth2.getAuthInstance().signOut();
            window.location.href = "/logout";
        }
    </script>
</head>

<body class="theme-line body-box fill">
    <div class="corner-ribbon top-left sticky blue"><a style="color: white;" href="#">Public Beta!</a></div>
    <div id="wrapper" class="fill">
        <header id="header" class="header">
            <div class="container">
                <h1 class="navbar-brand">
                    <a href="/"></a>
                </h1>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://pathfinder.readme.io" title="Documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/blog" title="Blog">Blog</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/discuss" title="Support">Support</a>
                        </li>
                        <li>
                            <a href="https://github.com/csse497" title="GitHub">GitHub</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="/applications" title="Applications">Applications</a>
                        </li>
                        <li>
                            <a href="#" onclick='signOut();' title="Sign Out">Sign Out</a>
                        </li>
                        <li>
                            <div class="g-signin2" style="display:none;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container body-container fille">
            <div class="main-content fill">
            <div class="row docs-content">
                <div class="col-lg-12 docs-header">
		    <div class="page-header">
			<h1 style="display: inline-block;">@app.name</h1>
			<ul style="float:right;" class="nav nav-pills">
			    <li role="presentation" class="active"><a href="#" onclick="switchTabs(this, 'clusterpanel')">Cluster Explorer</a></li>
			    <li role="presentation"><a href="#" onclick="switchTabs(this, 'routingpanel')">Routing Configuration</a></li>
			    <li role="presentation"><a href="#" onclick="switchTabs(this, 'authpanel')">Authentication Settings</a></li>
			</ul>
		    </div>
                </div>
            </div>
            <div class="row routingpanel">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Capacity Parameters
                        </div>
                        <div class="panel-body">
			    <div>
				Capacities are enforced by the Pathfinder routing engine using transport and commodity metadata. For more information, see the <a href="https://pathfinder.readme.io/docs/capacities-and-parameters">docs</a>.
			    </div>
                            @helper.form(routes.ApplicationController.setCapacities(), 'id -> "capacitiesform") {
                                <div class="form-group">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]" value="@app.capacityParameters.headOption.map(_.parameter)">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                @app.capacityParameters.drop(1).map { param =>
                                    <div class="form-group">
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]" value="@param.parameter">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                }
                                <div class="form-group hide" id="capacityTemplate">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        <button type="submit" class="btn btn-default">Save Parameters</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Objective Parameters
                        </div>
                        <div class="panel-body">
			    <div>
				Objective parameters are exposed as variables in the <a href="https://pathfinder.readme.io/docs/objective-function-dsl">Objective Function DSL</a>. For more information, see the <a href="https://pathfinder.readme.io/docs/capacities-and-parameters">docs</a>.
			    </div>
                            @helper.form(routes.ApplicationController.setObjectives(), 'id -> "objectivesform") {
                                <div class="form-group">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]" value="@app.objectiveParameters.headOption.map(_.parameter)">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                @app.objectiveParameters.drop(1).map { param =>
                                    <div class="form-group">
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]" value="@param.parameter">
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                }
                                <div class="form-group hide" id="objectivesTemplate">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="Parameter name" style="margin-bottom: 10px;" name="parameters[]">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-5">
                                        <button type="submit" class="btn btn-default">Save Parameters</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row routingpanel">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Routing Objective Function
                        </div>
                        <div class="panel-body">
                            @helper.form(routes.ApplicationController.setObjectiveFunction) {
                                <div class="col-sm-4">
				    <div>
					The objective function is used to determine the best routes for your application. For more information on custom objective functions, see the <a href="https://pathfinder.readme.io/docs/objective-function-dsl">docs</a>.
				    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="MIN_DIST" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST)) "checked"}>Minimize Distance
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="MIN_TIME" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "checked"}>Minimize Time
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="functionsradios" value="CUSTOM" @{if (!app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST) && !app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "checked"}>Custom
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Save Objective Function</button>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <textarea id="objectivefunctioncode" name="dsl" class="form-control codeform" rows="12" @{if (app.objectiveFunction.id.equals(ObjectiveFunction.MIN_DIST) || app.objectiveFunction.id.equals(ObjectiveFunction.MIN_TIME)) "disabled"}>@app.objectiveFunction.dsl</textarea>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clusterpanel">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Clusters
                        </div>
                        <div class="panel-body">
			    <div style="margin-bottom: 10px;">
				Pathfinder buckets all transports and commodities into clusters which must be created ahead of time using this dashboard. The top level cluster is always called "/root". For more information, see the <a href="https://pathfinder.readme.io/docs/commodities-clusters-and-transports">docs</a>.
			    </div>
                            <div class="col-sm-3">
                                <div id="clustertree"></div>
                                <input id="subclusterinput" type="text" placeholder="Subcluster name" style="margin-bottom: 10px;" class="form-control">
                                <button id="createsubcluster" type="submit" class="btn btn-default" style="width: 100%; margin-bottom: 10px;">Add subcluster to selected</button>
                                <button id="forcerefresh" type="submit" class="btn btn-default" style="width: 100%;">Request recalculation</button>
                            </div>
                            <div class="col-sm-9">
                                <label id="maplabel">Cluster:</label>
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row authpanel">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Authentication</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
				<div style="margin-bottom: 10px;">
				    To integrate your app with Pathfinder, you will need to set up authentication to use the <a href="https://pathfinder.readme.io/docs/platform-support">SDKs</a>. You can either use your own backend to authenticate your users or you can use Pathfinder hosted authentication.
				</div>
				<div style="margin-bottom: 10px;">
				    For more information, see the <a href="https://pathfinder.readme.io/docs/authentication">docs</a>.
				</div>
                                @helper.form(routes.ApplicationController.setAuthProvider(), 'id -> "authproviderform") {
			      <div class="input-group" style="margin-bottom: 10px;">
				<span class="input-group-addon">
				  <input id="pathfinder_auth_radio" type="radio" value="PATHFINDER_AUTH" onclick="changeToHosted()" aria-label="..." @{if (app.authUrl.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "checked"}>
				</span>
				<input type="text" value="https://auth.thepathfinder.xyz/connection" class="form-control" aria-label="..." readonly>
			      </div>
			      <div class="input-group" style="margin-bottom: 10px;">
				<span class="input-group-addon">
				  <input id="custom_auth_url_radio" type="radio" aria-label="..." onclick="changeToCustom()" @{if (!app.authUrl.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "checked"}>
				</span>
				<input id="custom_auth_url" type="text" class="form-control" placeholder="https://your-url.com/auth" aria-label="..." @{if (app.authUrl.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "disabled"} @{if (!app.authUrl.equals(Application.PATHFINDER_HOSTED_AUTH_URL)) "value=" + app.authUrl}>
			      </div>
                              <button id="saveauthbutton" onclick="saveAuthSettings()" type="button" class="btn btn-default">Save authentication settings</button>
                            }
			    </div>
                            <div class="col-sm-6">
				<div style="margin-bottom: 10px;">
				    The auth whitelist will be used if you select Pathfinder hosted auth as your authentication provider.
				</div>
                                <ul id="auth_whitelist" class="list-group">
                                    <li class="list-group-item disabled">Pathfinder hosted auth whitelist</li>
                                    @whitelist.map { email =>
                                        <li email="@email" class="list-group-item">@email
                                            <button onclick="removeFromWhitelist(this.parentNode)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </li>
                                    }
                                </ul>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <input id="new_whitelist_entry" class="form-control" type="text" class="form-control" placeholder="foo@@bar.com">
                                    </div>
                                    <button id="whitelist_add" type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="/components/pathfinder.js/pathfinder.js"></script>
    <script src="/dist/js/sb-admin-2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>

    <script>
        var pf = new Pathfinder("@app.id", "@id_token");

        $(document).ready(function() {
            $("#capacitiesform").on('click', '.addButton', function() {
                var template = $('#capacityTemplate');
                var clone = template.clone().removeClass('hide').removeAttr('id').insertBefore(template);
            }).on('click', '.removeButton', function() {
                $(this).parents('.form-group').remove();
            });
            $("#objectivesform").on('click', '.addButton', function() {
                var template = $('#objectivesTemplate');
                var clone = template.clone().removeClass('hide').removeAttr('id').insertBefore(template);
            }).on('click', '.removeButton', function() {
                $(this).parents('.form-group').remove();
            });
            custom = "@app.objectiveFunction.dsl.split('\n').mkString("\\n")";
            $("input[name=functionsradios]").change(function() {
                $("#objectivefunctioncode").prop("disabled", true);
                if (this.value == "CUSTOM") {
                    $("#objectivefunctioncode").prop("disabled", false);
                    $("#objectivefunctioncode").val(custom);
                } else if (this.value == "@ObjectiveFunction.MIN_DIST") {
                    $("#objectivefunctioncode").val("@ObjectiveFunction.find.byId(ObjectiveFunction.MIN_DIST).dsl.split('\n').mkString("\\n")");
                } else if (this.value == "@ObjectiveFunction.MIN_TIME") {
                    $("#objectivefunctioncode").val("@ObjectiveFunction.find.byId(ObjectiveFunction.MIN_TIME).dsl.split('\n').mkString("\\n")");
                }
            });
            $("#objectivefunctioncode").on('input', function(e) {
                custom = e.target.value;
            });

	    $("div.routingpanel").hide()
	    $("div.authpanel").hide()
        });

	function switchTabs(link, panel) {
	    $("li[role]").removeClass("active");
	    $(link.parentNode).addClass("active");
	    $("div.clusterpanel").hide()
	    $("div.routingpanel").hide()
	    $("div.authpanel").hide()
	    $("div." + panel).show()
	}
    </script>

    <script src="/js/application.js"></script>

</body>

</html>
