@(apps: List[Application], form: DynamicForm)

<!DOCTYPE html>
<html lang="en" class="fill">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pathfinder</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../css/bundle.css" rel="stylesheet">
    <link href="../css/thepathfinder.css" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="555706514291-olo3lfltaf92plod7sbefpnn9ci3ks2b.apps.googleusercontent.com">
    <script type="text/javascript">
        function signOut() {
            gapi.auth2.getAuthInstance().signOut();
            window.location.href = "/logout";
        }
    </script>
</head>

<body class="theme-line body-box fill">
    <div id="wrapper" class="fill">
        <header id="header" class="header">
            <div class="container">
                <h1 class="navbar-brand">
                    <a href="/"></a>
                </h1>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://pathfinder.readme.io/docs" title="Documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/blog" title="Blog">Blog</a>
                        </li>
                        <li>
                            <a href="https://pathfinder.readme.io/discuss" title="Support">Support</a>
                        </li>
                        <li>
                            <a href="https://github.com/csse497" title="GitHub">GitHub</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="/dashboard" title="Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" onclick='signOut();' title="Sign Out">Sign Out</a>
                        </li>
                        <li>
                            <div class="g-signin2" style="display:none;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container body-container fill">
            <div class="main-content fill">
                <div class="row docs-content">
                    <div class="col-lg-12 docs-header">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Create New App</h4>
                            </div>
                            <div class="panel-body">
                                @helper.form(routes.ApplicationController.create) {
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Name" name="name" type="string">
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-success btn-block">Create</button>
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                    @apps.map { app =>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>@app.name</h4>
                                </div>
                                <div class="panel-body" style="min-height: 84px;">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Identifier</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" value="@app.id" onClick="this.select();" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <a href="@routes.DashboardController.generateKey(app.id)">Generate new key</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a href="@routes.ApplicationController.setApplication(app.id)">
                                    <div class="panel-footer">
                                        <span class="pull-left">Manage application</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
