@(loggedin: Boolean, form: DynamicForm)

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pathfinder</title>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/bundle.css" rel="stylesheet">
    <link href="css/thepathfinder.css" rel="stylesheet">

    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="555706514291-olo3lfltaf92plod7sbefpnn9ci3ks2b.apps.googleusercontent.com">
    <script type="text/javascript">
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://thepathfinder.xyz/login");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onload = function() {
                console.log("Signed in as: " + xhr.responseText);
                window.location.href = "https://thepathfinder.xyz/dashboard";
            };
            xhr.send("idtoken=" + id_token);
        }
        function signOut() {
            gapi.auth2.getAuthInstance().signOut();
            window.location.href = "https://thepathfinder.xyz/logout";
        }
    </script>
</head>

<body class="theme-line">

    <header id="header" class="header">
        <div class="container">
            <h1 class="navbar-brand">
                <a href="https://thepathfinder.xyz"></a>
            </h1>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://pathfinder.readme.io/docs" title="Documentation">Documentation</a>
                    </li>
                    <li>
                        <a href="https://pathfinder.readme.io/blog" title="Blog">Blog</a>
                    </li>
                    <li>
                        <a href="https://pathfinder.readme.io/discuss" title="Support">Support</a>
                    </li>
                    <li>
                        <a href="https://github.com/csse497" title="GitHub">GitHub</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if(loggedin) {
                        <li>
                            <a href="/dashboard" title="Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" onclick='signOut();' title="Sign Out">Sign Out</a>
                        </li>
                        <li>
                            <div class="g-signin2" style="display:none;"></div>
                        </li>
                    } else {
                        <li>
                            <div class="g-signin2" style="margin-top: 7px;" data-onsuccess="onSignIn"></div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Pathfinder</h1>
                        <h3>Real-time routing for mobile applications.</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a  name="features"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Let us handle your routing,<br>focus on your application</h2>
                    <p class="lead">TODO: Add text here.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/multicoloredmap.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Native client libraries<br>for popular platforms</h2>
                    <p class="lead">TODO: Add text here.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/platforms.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Register for Pathfinder</h2>
            <p class="lead">TODO: Add text here.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <div class="login-panel panel panel-default">
              <div class="panel-body">
                <form>
                  <fieldset>
                    <div class="form-group">
                      <input class="form-control" placeholder="Email" name="email" type="email" value="@form("email").value">
                    </div>
                    <div class="form-group">
                      <input class="form-control" placeholder="Password" name="password" type="password" value="">
                    </div>
                    <div class="form-group">
                      <input class="form-control" placeholder="Confirm password" name="confirm" type="password" value="">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contact</h2>
                    <p class="lead">Pathfinder was developed by a team of students at Rose-Hulman Institute of Technology over the course of the 2015-2016 school year. You can reach us at <a href="mailto:info@@thepathfinder.xyz">info@@thepathfinder.xyz</a>.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/rosehulman.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <a  name="contact"></a>
    <div class="banner">

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#features">Features</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="docs">Docs</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Adam Michael 2016. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
